<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DataUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="db" connectionString="data source=WIN-A05TIVJ367B\SQLEXPRESS;initial catalog=BES_2008;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>-->
    <add name="db" connectionString="data source=(LocalDb)\v11.0;AttachDbFilename=C:\Projects\BES-customer\BusinessEnvironmentSnapshots\BusinessEnvironmentSnapshots.Service\App_Data\BES.mdf;Initial Catalog=BES_2008;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
  <!--<add name="db" connectionString="data source=servername;Initial Catalog=myDataBase;User ID=myUsername;Password=myPassword;MultipleActiveResultSets=True;App=EntityFramework"/>-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DataUpload.Properties.Settings>
            <setting name="PrintSql" serializeAs="String">
                <value>True</value>
            </setting>
        </DataUpload.Properties.Settings>
    </userSettings>
</configuration>