html {
  height: 100%;
}
a {
  color: #2da2d5;
}
a:hover {
  color: #2a6496;
  text-decoration: underline;
}
body {
  overflow: scroll;
  font-family: 'Open Sans', 'Arial', 'sans-serif';
  font-size: 13px;
  margin: 0px;
  padding: 0px;
}
.mix-reset-text,
.mix-reset-text:hover {
  text-decoration: none;
  color: inherit;
}
.lightbox-backdrop {
  position: fixed;
  z-index: 1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.lightbox {
  position: absolute;
  z-index: 1000;
  margin-left: 5px;
  top: 0px;
  left: 0px;
  border: solid 1px #dddddd;
  background-color: white;
  padding: 3px 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
}
.lightbox:before {
  content: '';
  position: absolute;
  right: 100%;
  border: solid 5px transparent;
  border-right-color: #dddddd;
  margin-left: 1px;
  margin-top: -5px;
  top: 9px;
}
.lightbox:after {
  content: '';
  position: absolute;
  right: 100%;
  top: 9px;
  border: solid 4px transparent;
  border-right-color: white;
  margin-top: -4px;
}
.page {
  position: relative;
}
.page-links {
  list-style-type: square;
  list-style-position: outside;
  margin-left: -17px;
}
.page-link {
  margin-left: 0px;
  padding-left: 0px;
  text-indent: 0px;
}
.page-link + .page-link {
  margin-top: 10px;
}
.header {
  margin-top: 10px;
}
.header-logo {
  padding-bottom: 5px;
  border-bottom: solid 4px black;
}
.footer-logo {
  padding-bottom: 5px;
  padding-right: 30px;
  width: 225px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.footer {
  margin-top: 40px;
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.wbg-partners {
  border-bottom: solid 1px grey;
}
.worldbank-partner {
  border-left: 1px solid black;
  margin: 10px;
  padding-left: 20px;
}
.worldbank-partner a {
  color: black;
  font-weight: bold;
  padding-right: 10px;
}
.wbg-misc-links,
.hotlineNumber,
.hotlineNumberPhone,
.copyright {
  margin-top: 5px;
}
.hotlineNumber a {
  color: black;
  font-weight: bold;
}
.links span {
  color: black;
}
.header-menu {
  margin-top: 10px;
}
.header-menu-item {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}
.header-menu-item:hover::after,
.header-menu-item.as-active::after {
  content: '';
  display: block;
  position: absolute;
  left: -1px;
  right: -1px;
  background-color: #112049;
  bottom: -2px;
  height: 2px;
}
.header-menu-item + .header-menu-item {
  margin-left: 20px;
}
.header-menu-item-link,
.header-menu-item-link:hover {
  text-decoration: none;
  color: inherit;
}
.page-title {
  color: #000;
  margin-top: 50px;
  font-size: 30px;
  line-height: 30px;
}
.page-title-action,
.page-title-action:hover {
  text-decoration: none;
  color: inherit;
}
table.banner {
  width: 100%;
  height: 100%;
}
table.banner td {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}
table.banner td div {
  padding: 0px 20px;
}
.tabs-navigation {
  padding-top: 40px;
  *zoom: 1;
}
.tabs-navigation:before,
.tabs-navigation:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.tabs-navigation:after {
  clear: both;
}
.tabs-navigation .tabs-navigation-previous {
  float: left;
}
.tabs-navigation .tabs-navigation-next {
  float: right;
}
.statistics-parts {
  *zoom: 1;
}
.statistics-parts:before,
.statistics-parts:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.statistics-parts:after {
  clear: both;
}
.statistics-box {
  padding: 20px;
  border-left: 4px solid #2da2d5;
}
.statistics-part-container {
  float: left;
  width: 50%;
}
.statistics-part {
  margin-bottom: 15px;
  font-size: 14px;
  color: #333;
}
.statistics-values {
  *zoom: 1;
}
.statistics-values:before,
.statistics-values:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.statistics-values:after {
  clear: both;
}
.statistics-source {
  margin-bottom: 10px;
}
.statistics-country-values {
  float: left;
}
.statistics-region-values {
  margin-left: 20px;
  float: left;
}
.statistics-country-values,
.statistics-region-values {
  width: 180px;
}
.statistics-region-name,
.statistics-country-year {
  font-weight: bold;
}
.statistics-value {
  font-size: 24px;
  color: black;
}
.chart-legend {
  margin-top: 10px;
  padding: 10px 0px;
  background-color: #fcfcfc;
  border: solid 1px #dddddd;
  text-align: center;
}
.chart-legend-serie-group {
  display: inline-block;
}
.chart-legend-serie {
  display: inline-block;
  position: relative;
  margin-left: 15px;
}
.chart-legend-serie-clue {
  position: absolute;
  left: 0px;
}
.chart-legend-serie-text {
  margin-left: 55px;
  line-height: 20px;
}
.chart-label {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  margin-top: -14px;
  margin-left: 7px;
  display: none;
  background-color: black;
  white-space: nowrap;
  border: solid 1px white;
  padding: 5px;
  text-align: left;
  color: white;
  font-size: 12px;
}
.chart-label:before {
  content: '';
  position: absolute;
  right: 100%;
  border: solid 6px transparent;
  border-right-color: white;
  margin-left: 1px;
  margin-top: -6px;
  top: 13px;
}
.chart-label:after {
  content: '';
  position: absolute;
  right: 100%;
  top: 13px;
  border: solid 5px transparent;
  border-right-color: black;
  margin-top: -5px;
}
.chart-point.as-hovered,
.chart-bar.as-hovered,
.chart-arc.as-hovered {
  stroke-width: 2px;
  stroke: black;
}
.chart-point.as-hidden,
.chart-bar.as-hidden,
.chart-arc.as-hidden {
  display: none;
}
.chart-name {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}
.chart-description {
  font-size: 14px;
  color: #333;
}
.chart-note {
  margin-top: 10px;
}
.chart-link {
  margin-top: 10px;
}
.chart-category {
  fill: black;
  font-size: 12px;
}
.chart-container {
  margin-top: 40px;
}
.chart-container.as-unfinished .chart {
  height: 250px;
}
.chart-container.as-problem {
  background-color: #fff8f8;
  color: #990000;
}
.chart-container.as-problem .chart {
  height: 250px;
}
.chart-container.as-empty {
  background-color: #fcfcfc;
  color: #888888;
}
.chart-container.as-empty .chart {
  height: 250px;
}
.chart-data {
  background-color: white;
  *zoom: 1;
}
.chart-data:before,
.chart-data:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.chart-data:after {
  clear: both;
}
.chart-graph {
  margin-top: 20px;
  position: relative;
  width: 540px;
  display: inline-block;
  float: left;
}
.chart-table {
  margin-top: 20px;
  display: inline-block;
  float: left;
}
.chart-table-unit-label {
  text-align: right;
}
.chart-graph + .chart-table {
  margin-left: 20px;
}
.chart-table-grid.grid.as-for-chart {
  max-width: 380px;
}
.chart-table-grid.grid.as-for-chart .grid-row.as-series-names {
  background-color: #efefef;
}
.chart-table-grid.grid.as-for-chart .grid-row.as-series-names .grid-row.as-series-names {
  text-align: center;
}
.chart-table-grid.grid.as-for-chart td.as-value {
  text-align: center;
  background-color: #FAFAFA;
}
.section-name {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 60px;
}
.section-description {
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
}
.section-no-data-message {
  line-height: 100px;
  text-align: center;
  background-color: #fcfcfc;
}
table.grid th,
table.grid td {
  padding: 8px 12px;
}
table.grid thead th,
table.grid thead td {
  border-right: solid 1px #dddddd;
}
table.grid thead th:last-child,
table.grid thead td:last-child {
  border-right: none;
}
table.grid thead th {
  font-weight: normal;
}
table.grid tbody td {
  border-top: solid 1px #dddddd;
}
table.grid.as-interleaved tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
table.grid.as-bordered thead th,
table.grid.as-bordered tbody th,
table.grid.as-bordered tfoot th,
table.grid.as-bordered thead td,
table.grid.as-bordered tbody td,
table.grid.as-bordered tfoot td {
  border: solid 1px #dddddd;
}
table.grid.as-bordered thead th:last-child,
table.grid.as-bordered tbody th:last-child,
table.grid.as-bordered tfoot th:last-child,
table.grid.as-bordered thead td:last-child,
table.grid.as-bordered tbody td:last-child,
table.grid.as-bordered tfoot td:last-child {
  border: solid 1px #dddddd;
}
.tabs {
  position: relative;
  margin-top: 35px;
  *zoom: 1;
}
.tabs:before,
.tabs:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.tabs:after {
  clear: both;
}
.tab {
  position: relative;
  display: block;
  width: 150px;
  border: solid 1px #dddddd;
  top: 1px;
  height: 60px;
  float: left;
  background-color: white;
  text-decoration: none;
}
.tab-text {
  display: block;
  padding: 10px 15px;
  text-align: left;
  text-transform: uppercase;
}
.tab + .tab {
  border-left: none;
}
.tab.as-active {
  background-color: #f5f5f5;
  border-bottom-color: #f5f5f5;
}
.tab.as-active::after {
  content: '';
  display: block;
  position: absolute;
  left: -1px;
  right: -1px;
  background-color: #112049;
  top: -1px;
  height: 3px;
}
.tab.as-active,
.tab.as-active:hover {
  text-decoration: none;
  color: inherit;
}
.block {
  text-align: center;
  position: relative;
}
.block.as-delimiting {
  border-top: solid 2px #dddddd;
}
.block-shade {
  border-top: solid 1px #dddddd;
  margin: 0 auto;
  text-align: left;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(1, #f5f5f5));
  background: -ms-linear-gradient(bottom, white, #f5f5f5);
  background: -moz-linear-gradient(center bottom, white 0%, #f5f5f5 100%);
  background: -o-linear-gradient(#f5f5f5, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='white', GradientType=0);
}
.block-content {
  position: relative;
  margin: 0 auto;
  text-align: left;
  width: 940px;
}
.block > .block-content {
  z-index: 1;
}
.block > .block-shade {
  z-index: 0;
}
.block.as-wider {
  margin-top: 20px;
}
.block.as-wider .block-shade,
.block.as-wider .block-content {
  width: 1080px;
}
.block-content + .block-shade {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 200px;
}
.country {
  *zoom: 1;
}
.country:before,
.country:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.country:after {
  clear: both;
}
.country-flag {
  float: left;
}
.country-name {
  line-height: 68px;
}
.country-name select {
  font-size: 20px;
  line-height: 68px;
  height: 68px;
  padding: 0 20px;
}
.country-flag + .country-name {
  margin-left: 10px;
  float: left;
}
.country-name + .country-actions {
  float: right;
}
.report-page.as-statistics {
  position: relative;
}
.report-page.as-statistics .report-statistics-backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
}
.report-page.as-statistics .report-statistics {
  position: absolute;
  background-color: #f4f4f4;
  top: 677px;
  padding: 60px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.report-page.as-statistics .report-statistics-header {
  font-size: 30px;
  color: #163554;
}
.report-page.as-statistics .report-statistics-header-highlight {
  color: #75100C;
  font-style: italic;
}
.report-page.as-statistics .report-statistics-header-highlight .report-statistics-header-highlight {
  font-style: initial;
  font-weight: bold;
}
.report-page.as-statistics .report-statistics-data {
  margin-top: 50px;
}
.report-page.as-statistics .report-statistics-data .statistics-part {
  margin-bottom: 30px;
}
.report-page.as-statistics .report-statistics-data .statistics-region-name,
.report-page.as-statistics .report-statistics-data .statistics-country-year {
  font-weight: normal;
}
.report-page.as-statistics .report-statistics-data .statistics-source {
  display: none;
}
.report-generate-container {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.report-generate-container .report-generate-backdrop {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #eee;
  opacity: 0.75;
}
.report-generate-container .report-generate-placeholder {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  line-height: 60px;
  left: 0px;
  right: 0px;
  background-color: white;
  padding: 40px 0px;
  border: solid 1px #ddd;
  border-width: 1px 0px 1px 0px;
  text-align: center;
}
.report-generate-container .report-generate-placeholder .report-generate-action {
  position: relative;
  background: #0066aa;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0066aa), color-stop(1, #0085dd));
  background: -ms-linear-gradient(bottom, #0066aa, #0085dd);
  background: -moz-linear-gradient(center bottom, #0066aa 0%, #0085dd 100%);
  background: -o-linear-gradient(#0085dd, #0066aa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0085dd', endColorstr='#0066aa', GradientType=0);
  margin: 0 auto;
  font-size: 16px;
  padding: 0 30px;
  color: white;
  border: solid 1px white;
  border-radius: 3px;
}
.report-page.as-title {
  position: relative;
}
.report-page.as-title .report-title-backdrop-top {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 343px;
  right: 0px;
}
.report-page.as-title .report-title-backdrop-bottom {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 887px;
  right: 0px;
}
.report-page.as-title .report-title-title-container {
  position: absolute;
  top: 343px;
  height: 92px;
  left: 0px;
  right: 0px;
  background-color: #9EB33C;
  color: white;
}
.report-page.as-title .report-title-logo-container {
  position: absolute;
  top: 435px;
  height: 92px;
  left: 0px;
  right: 0px;
  background-color: #183253;
  color: white;
}
.report-page.as-title .report-title-logo {
  position: absolute;
  top: 22px;
  left: 236px;
}
.report-page.as-title .report-title-app-name {
  position: absolute;
  top: 30px;
  left: 237px;
  font-size: 23px;
  color: white;
  letter-spacing: 0.4pt;
  font-weight: bold;
}
.report-page.as-title .report-title-title-flag-name {
  position: absolute;
  top: 50%;
  width: 400px;
  margin-top: -10px;
  line-height: 16px;
  font-style: italic;
  font-size: 16px;
  white-space: nowrap;
  right: 100%;
  margin-right: 15px;
  color: white;
  text-align: right;
}
.report-page.as-title .report-title-title-flag {
  position: absolute;
  top: 12px;
  right: 12px;
}
.report-page.as-title .report-title-title-flag > img {
  height: 68px;
}
.report-page.as-toc {
  position: relative;
}
.report-page.as-toc .report-toc-backdrop {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 300px;
  background-color: #f4f4f4;
}
.report-page.as-toc .report-toc-title {
  position: absolute;
  top: 100px;
  right: 100px;
  font-size: 40px;
  width: 200px;
  text-align: right;
  color: #163554;
}
.report-page.as-toc .report-toc-content {
  position: absolute;
  bottom: 60px;
  left: 80px;
}
.report-page.as-toc .report-toc-body-name,
.report-page.as-toc .report-toc-body-page,
.report-page.as-toc .report-toc-body-description {
  vertical-align: top;
  padding-bottom: 10px;
}
.report-page.as-toc .report-toc-body-name {
  width: 200px;
}
.report-page.as-toc .report-toc-body-page {
  font-weight: bold;
  width: 50px;
  text-align: right;
}
.report-page.as-toc .report-toc-body-description {
  padding-left: 20px;
  width: 600px;
}
.report {
  *zoom: 1;
}
.report:before,
.report:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.report:after {
  clear: both;
}
.report .chart-label {
  display: none;
}
.report-page-container {
  margin-top: 40px;
  margin-left: 40px;
  float: left;
  border: solid 1px #aaa;
  box-shadow: rgba(0, 0, 0, 0.1) 10px 10px;
}
.report-page {
  position: relative;
  width: 1000px;
  height: 1294.11764706px;
}
.report-page.as-being-shrunken {
  border: solid 5px black;
}
.report-page {
  overflow-y: hidden;
  overflow-x: hidden;
}
.report-page .chart-container + .chart-container {
  padding-top: 60px;
}
.report-page .report-block-section-container + .chart-container {
  padding-top: 50px;
}
.report-page .chart-container {
  margin: 0px;
  padding: 100px 60px 0px 60px;
}
.report-page .chart-description {
  font-size: inherit;
}
.report-page .chart-graph {
  width: 480px;
}
.report-page .chart-tools {
  display: none;
}
.report-page .report-block-section-container {
  position: relative;
  background-color: #f4f4f4;
  height: 260px;
}
.report-page .report-block-section {
  position: absolute;
  bottom: 50px;
  left: 60px;
  right: 60px;
}
.report-page .report-block-section-name {
  line-height: 80px;
  font-size: 30px;
  color: #163554;
}
.report-page .report-page-footer {
  position: absolute;
  bottom: 20px;
  color: #777;
  right: 20px;
}
.page-number-container {
  position: absolute;
  top: 20px;
  right: 20px;
  white-space: nowrap;
  font-weight: bold;
}
.page-number-container .page-number {
  position: absolute;
  text-align: right;
  right: 100%;
  top: 0px;
  color: #777;
  margin-right: 5px;
}
.page-number-container .page-number-highlighted {
  color: #75100C;
  text-align: left;
}
.page.as-main .country {
  background: none;
  text-align: center;
  margin-bottom: 40px;
}
.page.as-main .block-content.as-splash {
  background: url(splash.jpg) no-repeat;
  height: 400px;
  width: 1080px;
}
.page.as-main .block-content.as-splash .app-splashscreen {
  margin-top: 60px;
  position: relative;
}
.page.as-main .app-name-container {
  position: absolute;
  left: 50%;
  top: 50%;
}
.page.as-main .app-name-container .app-name {
  position: relative;
  font-size: 33px;
  color: white;
  left: -50%;
  top: -50%;
  margin-top: -27px;
}
.page.as-main .country-intro {
  margin: 0 auto;
  text-align: center;
  width: 800px;
  font-size: 15px;
}
.page.as-main .country-name {
  margin: 60px 0 40px 0;
  position: relative;
}
.page.as-main .country-name::after {
  content: '';
  border: solid 10px transparent;
  border-top-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -5px;
  margin-left: 130px;
}
.page.as-main .country-name select {
  color: white;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background-color: #0B2442;
  border: 0 !important;
  /*Removes border*/
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /*Removes default style Firefox*/
}
.page.as-main .country-name select::-ms-expand {
  display: none;
}
.page.as-country .country {
  margin-top: 35px;
  border: solid 1px #dddddd;
  padding: 20px 40px;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.page.as-country .block-content.as-chart .section {
  padding-bottom: 20px;
}
.page.as-country .block-content.as-chart .chart-data {
  margin: -20px;
  padding: 20px;
  margin-top: 0px;
  padding-top: 0px;
}
.block-content.as-project-portfolio .block-intro {
  padding: 40px 0px 20px 0px;
}
.block-content.as-project-portfolio .section {
  padding-bottom: 20px;
}
.block-content.as-project-portfolio .grid-cell.as-project-title {
  text-align: left;
  width: 55%;
}
.block-content.as-project-portfolio .grid-cell.as-project-id {
  text-align: left;
  width: 10%;
}
.block-content.as-project-portfolio .grid-cell.as-project-approval-date {
  text-align: right;
  width: 15%;
}
.block-content.as-project-portfolio .grid-cell.as-project-status {
  text-align: right;
  width: 10%;
}
.block-content.as-project-portfolio .grid-cell.as-project-commitment-amount {
  text-align: right;
  width: 10%;
}
/*# sourceMappingURL=root.css.map */